In [18]:
import sqlite3
conn = sqlite3.connect('tutorial.csv')
c = conn.cursor()

def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS TEST(ID INT,NAME TEXT,PHONE TEXT)')
    
def data_entry():
    c.execute("INSERT INTO TEST VALUES(01,'RAJU','01865052786')")
    c.execute("INSERT INTO TEST VALUES(02,'YASMIN','01675519116')")
    conn.commit()
def read_from_db():
    c.execute('SELECT * FROM TEST')
    for row in c.fetchall():
        print(row)

create_table()
data_entry()
read_from_db()


c.close()
conn.close()

(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')

In [17]:
import sqlite3

conn = sqlite3.connect('tutorial.csv')
c=conn.cursor()

def searchData():
    c.execute("SELECT * FROM TEST WHERE NAME='RAJU'")
    for row in c.fetchall():
        print(row)
searchData()
c.close()
conn.close()

(1, 'RAJU', '01865052786')
(1, 'RAJU', '01865052786')
(1, 'RAJU', '01865052786')

In [20]:
import sqlite3
conn=sqlite3.connect('tutorial.csv')
c=conn.cursor()

def read_from_db():
    c.execute("SELECT * FROM TEST")
    for row in c.fetchall():
        print(row)

def updateData():
    c.execute("UPDATE TEST SET NAME = 'BASIS' WHERE NAME = 'Leads'")
    conn.commit()

read_from_db()
updateData()
read_from_db()

c.close()
conn.close()

(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')

In [21]:
import sqlite3
conn=sqlite3.connect('tutorial.csv')
c=conn.cursor()
def read_from_db():
    c.execute("SELECT * FROM TEST")
    for row in c.fetchall():
        print(row)

def deleteData():
    c.execute("DELETE FROM TEST WHERE NAME = 'BASIS'")
    conn.commit()

read_from_db()
deleteData()
read_from_db()
c.close()
conn.close()

(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')
(1, 'RAJU', '01865052786')
(2, 'YASMIN', '01675519116')

In [23]:
import sqlite3 as lite
import sys

try:
    con = lite.connect('test.db')

    cur = con.cursor()  

    cur.executescript("""
        DROP TABLE IF EXISTS Cars;
        CREATE TABLE Cars(Id INT, Name TEXT, Price INT);
        INSERT INTO Cars VALUES(1,'Audi',52642);
        INSERT INTO Cars VALUES(2,'Mercedes',57127);
        INSERT INTO Cars VALUES(3,'Skoda',9000);
        INSERT INTO Cars VALUES(4,'Volvo',29000);
        INSERT INTO Cars VALUES(5,'Bentley',350000);
        INSERT INTO Cars VALUES(6,'Citroen',21000);
        INSERT INTO Cars VALUES(7,'Hummer',41400);
        INSERT INTO Cars VALUES(8,'Volkswagen',21600);
        """)

    con.commit()
    
except lite.Error, e:
    
    if con:
        con.rollback()
        
    print "Error %s:" % e.args[0]
    sys.exit(1)
    
finally:
    
    if con:
        con.close()

SyntaxError: invalid syntax (<ipython-input-23-4da22daa25dd>, line 24)