In [5]:
n_list = ["Happytuy", [2,0,1,5]]

In [7]:
n_list[0][6]

'u'

In [8]:
my_list = [1.,3,4]

In [22]:
my_list = ["mouse", [8, 4, 6], ['a']]

In [37]:
my_list[2][0]

'a'

In [38]:
my_list3 = ['p','r','o','b','e']

In [39]:
my_list3[3]

'b'

In [42]:
my_list3[4]

'e'

In [44]:
my_list3[0:5]

['p', 'r', 'o', 'b', 'e']

In [45]:
my_list3[:-5]

[]

In [46]:
odd = [2, 4, 6, 8]

In [47]:
odd[0]

2

In [48]:
odd[1:4]

[4, 6, 8]

In [49]:
odd[1:4]=[6,7,8]

In [50]:
odd

[2, 6, 7, 8]

In [55]:
odd.append('raju')

In [57]:
odd

[2, 6, 7, 8, 'raju', 'raju']

In [59]:
odd.extend(['rju','sam'])

In [60]:
odd

[2, 6, 7, 8, 'raju', 'raju', 'rju', 'sam']

In [61]:
odd + ['bam','zam']

[2, 6, 7, 8, 'raju', 'raju', 'rju', 'sam', 'bam', 'zam']

In [62]:
['sammi']*4

['sammi', 'sammi', 'sammi', 'sammi']

In [63]:
odd=[1,9]

In [64]:
odd.insert(1,3)

In [65]:
odd

[1, 3, 9]

In [68]:
odd.insert(1,'jam')

In [80]:
odd

[1, 'jam', 3, 10, 'za', 'za', 9]

In [83]:
odd.insert(5,'za')

In [84]:
odd

[1, 'jam', 3, 10, 'za', 'za', 'za', 'za', 9]

In [85]:
odd = []

In [86]:
odd

[]

In [87]:
odd.clear()

In [88]:
odd

[]

In [89]:
my_list = ['p','r','o','b','l','e','m']

In [90]:
my_list.remove('m')

In [91]:
my_list

['p', 'r', 'o', 'b', 'l', 'e']

In [92]:
my_list.pop(1)

'r'

In [93]:
my_list

['p', 'o', 'b', 'l', 'e']

In [95]:
my_list.clear()

In [96]:
my_list

[]

In [98]:
my_list[2:4]=[]

In [99]:
my_list

[]

In [100]:
my_list=['p', 'o', 'b', 'l', 'e']

In [101]:
my_list[2:5]=[]

In [102]:
my_list

['p', 'o']

In [103]:
my_list = [3,8,1,6,0,8,4]

In [104]:
my_list[3]

6

In [106]:
my_list.index(4)

6

In [108]:
my_list.count(0)

1

In [109]:
my_list.sort()

In [110]:
my_list

[0, 1, 3, 4, 6, 8, 8]

In [111]:
my_list.reverse()

In [112]:
my_list

[8, 8, 6, 4, 3, 1, 0]

In [114]:
pow2 = [2 ** x for x in range(10)]

In [115]:
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [116]:
pow2 = []

In [117]:
pow2

[]

In [118]:
for x in range(10):
    pow2.append(2**x)

In [119]:
pow2

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [120]:
pow2 = [2 ** x for x in range(10) if x>5]

In [121]:
pow2

[64, 128, 256, 512]

In [122]:
odd = [x for x in range(20) if x%2 == 1]

In [123]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [124]:
[x+y for x in ['python','C'] for y in ['Language','Programming']]

['pythonLanguage', 'pythonProgramming', 'CLanguage', 'CProgramming']

In [125]:
all(odd)

True

In [126]:
any(odd)

True

In [127]:
enumerate(odd)

In [128]:
len(odd)

10

In [129]:
list(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [130]:
max(odd)

19

In [131]:
min(odd)

1

In [132]:
sorted(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [133]:
sum(odd)

100

In [134]:
odd = []

In [135]:
all(odd)

True

In [136]:
odd

[]

In [137]:
any(odd)

False

In [138]:
del odd

In [149]:
my_tuple = ('mouse',[8,4,6],[1,2,3])

In [150]:
my_tuple

('mouse', [8, 4, 6], [1, 2, 3])

In [147]:
my_tuple =[3,4.6,'dog']

In [148]:
my_tuple

[3, 4.6, 'dog']

In [145]:
type(my_tuple)

tuple

In [146]:
my_tuple

(3, 4.6, 'dog')

In [151]:
list= [1,2,3,4]

In [152]:
list=1,5,67

In [153]:
list

(1, 5, 67)

In [154]:
type(list)

tuple

In [155]:
a,b,c= list

In [156]:
a

1

In [157]:
type(list)

tuple

In [158]:
list

(1, 5, 67)

In [159]:
b

5

In [160]:
a, b, c

(1, 5, 67)

In [161]:
1,5,67

(1, 5, 67)

In [164]:
my_tuple='hello'

In [166]:
type(my_tuple)

str

In [181]:
my_tuple='hello',1,4

In [183]:
my_tuple[2]

4

In [171]:
my_tuple='raju'

In [172]:
type(my_tuple)

str

In [173]:
my_tuple

'raju'

In [174]:
my_tuple[0]

'r'

In [184]:
my_tuple='raju',

In [185]:
type(my_tuple)

tuple

In [187]:
my_tuple[0]

'raju'

In [195]:
n_tuple = 'mouse',(8,4,6),[1,2,3]

In [196]:
n_tuple

('mouse', (8, 4, 6), [1, 2, 3])

In [198]:
n_tuple[2][0]=9

In [199]:
n_tuple

('mouse', (8, 4, 6), [9, 2, 3])

In [202]:
n_tuple[1][1]

4

In [203]:
my_tuple=('p','e','r','m','i','t')

In [204]:
my_tuple

('p', 'e', 'r', 'm', 'i', 't')

In [209]:
my_tuple[-6]

'p'

In [210]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

In [211]:
my_tuple

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [213]:
my_tuple[1:5]

('r', 'o', 'g', 'r')

In [215]:
my_tuple[ :-7]

('p', 'r')

In [216]:
my_tuple[7:]

('i', 'z')

In [218]:
my_tuple[:]

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [219]:
my_tuple = (4,2,3,[6,5])

In [226]:
my_tuple[3][1]

5

In [227]:
my_tuple = ('p','r','o','g','r','a','m','i','z')

In [228]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

In [232]:
('raju ')*4

'raju raju raju raju '

In [258]:
my_tuple = ('p','r','o','g','r',['a','m','i','z'])

In [259]:
my_tuple

('p', 'r', 'o', 'g', 'r', ['a', 'm', 'i', 'z'])

In [263]:
my_tuple.index

ValueError: 'o' is not in list

In [239]:
my_tuple = ['a','p','p','l','e',]

In [240]:
my_tuple

['a', 'p', 'p', 'l', 'e']

In [243]:
my_tuple.append('ra')

In [244]:
my_tuple

['a', 'p', 'p', 'l', 'e', 'ra']

In [249]:
my_tuple[2]=my_tuple[2:2]

In [250]:
my_tuple

['a', 'p', [], 3, 'l', 'e', 'ra']

In [257]:
my_tuple.count('l')

1

In [264]:
my_tuple = ('a','p','p','l','e',)

In [265]:
my_tuple.count('p')

2

In [266]:
a in my_tuple

False

In [268]:
'a' in my_tuple

True

In [269]:
'g' in my_tuple

False

In [273]:
for name in ('john','kate'):
    print('Hello',name)

Hello john
Hello kate

In [274]:
all(my_tuple)

True

In [275]:
tuple(my_tuple)

('a', 'p', 'p', 'l', 'e')

In [276]:
default = "{},{} and {}".format('john','Bill','Sean')
print('\n ---Default Order---')
print(default)

 ---Default Order---
john,Bill and Sean